*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nunito';
    src: url(font/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Playfair Display';
    src: url();
}

#wrapper {
    width: 100%;
    max-width: 1440px;
    background-color: #88adda;
    margin: 0 auto;
}

.navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #6e97c6;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: #fef0ae;
    text-align: center;
    padding: 14px 28px;
    text-decoration: none;
    font-size: 16px;
}

.navbar li a:hover {
    background-color: #537ba7;
}

#top {
    background-image: url(img/title-bg.jpg);
    background-repeat: no-repeat;
}

.desktop-title {
    text-align: center;
    padding-top: 150px;
}

.subtitle {
    padding-top: 400px;
    padding-bottom: 120px;
    text-align: center;
    color: #fef0ae;
    line-height: 40px;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nunito';
    src: url(font/Nunito-VariableFont_wght.ttf);
}

#works {
    background-image: url(img/bg-works.jpg);
    background-repeat: no-repeat;
}

.desktop-banner {
    padding: 60px;
    margin-left: 240px;
}

.swiper {
    max-width: 1120px;
    max-height: 530px;
}

.swiper-background1 {
    background-color: #cfe5ef;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
}

.swiper-slide {
    text-align: center;
}

.swiper-slide img {
    max-width: 972px;
    max-height: 234px;
    object-fit: cover;
}

.details-btn {
    background-color: #fee97d;
    border: 6px solid #858585;
    padding: 50px 70px;
    margin: 50px;
    margin-left: 450px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 8px;
    cursor: pointer;
    font-family: 'Nunito';
    src: url(font/Nunito-VariableFont_wght.ttf);
}

.details-btn:hover {
    background-color: #fff687;
}

.details-text {
    text-decoration: none;
    color: #858585;
    cursor: pointer;
}